<footer class="footer-module">
    <div class="links-module">
        <div class="container footerlinks">
            <div class="row justify-content-evenly main-links">
                <div class="col-sm-4 col-lg-2 link-groups">
                    <a class="bottom-logo" href="./index.html" title="Beinex"><img src="./assets/images/whitelogo.jpg"
                            width="120px" height="29px" alt="logo"></a>
                    <a class="linkgoup-1 mt-4" href="#" title="About Beinex">About Beinex</a>
                    <a class="linkgoup-1" href="#" title="Careers">Careers</a>
                    <a class="linkgoup-1" href="#" title="Press Releases">Press Releases</a>
                    <a class="linkgoup-1" href="#" title="Beinex in the News">Beinex in the News</a>
                </div>
                <div class="col-sm-8 col-lg-4 borderdiv link-groups">
                    <p class="links-heading">Our Services</p>
                    <div class="align-items-start d-flex justify-content-between">
                        <div>
                            <a class="linkgoup-1" href="#" title="Advanced Analytics">Advanced Analytics</a>
                            <a class="linkgoup-1" href="#" title="AI /ML/RPA">AI /ML/RPA</a>
                            <a class="linkgoup-1" href="#" title="Alteryx APA">Alteryx APA</a>
                            <a class="linkgoup-1" href="#" title="Audit Analytics">Audit Analytics</a>
                            <a class="linkgoup-1" href="#" title="Beinex Digital">Beinex Digital</a>
                            <a class="linkgoup-1" href="#" title="Business Intelligence">Business Intelligence</a>
                        </div>
                        <div>
                            <a class="linkgoup-1" href="#" title="Competitive Intelligence">Competitive
                                Intelligence</a>
                            <a class="linkgoup-1" href="#" title="Modern Cloud Analytics">Modern Cloud Analytics</a>
                            <a class="linkgoup-1" href="#" title="Risk Analytics">Risk Analytics</a>
                            <a class="linkgoup-1" href="#" title="Tableau">Tableau</a>
                            <a class="linkgoup-1" href="#" title="Tableau Support Services">Tableau Support
                                Services</a>
                        </div>
                    </div>

                </div>

                <div class="col-sm-4 col-lg-2 borderdiv link-groups">
                    <p class="links-heading">Our Industries</p>
                    <a class="linkgoup-1" href="#" title="Finance">Finance</a>
                    <a class="linkgoup-1" href="#" title="Human Resources">Human Resources</a>
                    <a class="linkgoup-1" href="#" title="Procurement">Procurement</a>
                    <a class="linkgoup-1" href="#" title="Sales">Sales</a>
                </div>
                <div class="col-sm-8 col-lg-4 borderdiv link-groups">
                    <p class="links-heading">Our Partners</p>
                    <div class="d-flex justify-content-between align-items-start">
                        <div>
                            <a class="linkgoup-1" href="#" title="Tableau">Tableau</a>
                            <a class="linkgoup-1" href="#" title="Alteryx">Alteryx</a>
                            <a class="linkgoup-1" href="#" title="AURAA">AURAA</a>
                            <a class="linkgoup-1" href="#" title="Amazon Web Services">Amazon Web Services</a>
                        </div>
                        <div>
                            <a class="linkgoup-1" href="#" title="Microsoft Azure">Microsoft Azure</a>
                            <a class="linkgoup-1" href="#" title="Snowflake">Snowflake</a>
                            <a class="linkgoup-1" href="#" title="Salesforce">Salesforce</a>
                            <a class="linkgoup-1" href="#" title="Alation">Alation</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="basefooter-module">
        <div class="container">
            <div class="baselinks">
                <a href="#" title="Privacy Policy">Privacy Policy</a>
                <a href="#" class="blink" title="Terms of Use">Terms of Use</a>
                <a href="#" class="blink" title="Cookie Policy">Cookie Policy</a>
            </div>
            <div class="smlinks">
                <a href="#" title="linkedIn"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#" title="facebook"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" title="twitter"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" title="instagram"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <p>Copyright @ 2022 - 23 Beinex</p>
        </div>

    </div>
</footer>