$color-primary:#23133f;
$color-white:#fff;
$color-hover:#25bbed;
$color-btn:#10385c;
$color-black:#000;

$spacer-md:5px;
$spacer-0:0;
$spacer-1:10px;
$spacer-2:20px;
$spacer-3:30px;
$spacer-4:40px;

$font-xsm:13px;
$font-sm:14px;
$font-md:16px;
$font-lg:24px;