<!-- Header starts -->
<header class="header-module">
    <div class="container">
        <nav class="navbarbase">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn"><i class="fa-solid fa-bars"></i></label>
            <a class="logo" href="./index.html" title="Beinex"><img class="logoimage" src="./assets/images/logo.png" alt="logo"></a>
            <ul> 
                <li><a class="navlink" href="#" title="Services">Services</a></li>
                <li><a class="navlink" href="#" title="Partners">Partners</a></li>
                <li><a class="navlink" href="#" title="Industries">Industries</a></li>
                <li><a class="navlink" href="#" title="Company">Company</a></li>
                <li><a class="navlink" href="#" title="Events">Events</a></li>
                <li><a class="navlink" href="#" title="Careers">Careers</a></li>
                <li><a class="navlink" href="#" title="Blog">Blog</a></li>
                <li><a class="navlink" href="#" title="Training">Training</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- Header ends -->