<section class="form-module">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="demodiv">
                    <h2 class="demo-head">Request A Demo</h2>
                    <form action="" class="demo-req">
                        
                        <div class="input-div name">
                            <input type="text" placeholder="Name" id="name">
                        </div>
                        <div class="input-div email">
                            <input type="text" placeholder="Email" id="email">
                        </div>
                        <div class="input-div country">
                            <input type="text" placeholder="Select Country" id="country">
                        </div>
                        <div class="input-div phone">
                            <input type="text" placeholder="Phone number" id="phone">
                        </div>
                        <div class="input-div company">
                            <input type="text" placeholder="Company" id="company">
                        </div>
                        <div class="input-div job">
                            <input type="text" placeholder="Job role" id="job">
                        </div>
                        <div class="input-div textareadiv">
                            <textarea name="" id="message" cols="30" rows="3" placeholder="Message"></textarea>
                        </div>
                        <div class="input-div textareadiv subbut">
                            <button class="submit-btn" type="button" onclick="validate()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="nextdiv">
                    <h2 class="next-head">What Will Be The Next Step?</h2>
                    <p class="next-content">One of our executive will get in touch with you to gather your requirement.</p>
                    <p class="next-content">We will analyse the requirement and schedule a virtual demo.</p>
                </div>
            </div>
        </div>
    </div>
</section>
